nav {
  background-color: #1e88e5;
  margin: 0 0 13px 0;
}
#app {
  min-width: 350px;
}
.right {
  float: right;
}
.active {
  color: rgba(255, 255, 255, 0.7) !important;
}
.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: rgba(255, 255, 255, 0.7);
}
.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a:hover {
  color: #ffffff;
}
.teal {
  font-size: 13px;
}
.teal li {
  margin-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 18px;
}
.row {
  margin: 0px;
}
table.striped > tbody > tr:nth-child(odd) {
  background-color: #ececec;
}
.itemView {
  height: 200px;
  overflow: hidden;
}
.itemView .card-title {
  margin: 0px;
  font-size: 18px;
}
.itemView .card-title a {
  color: inherit;
  text-decoration: underline;
}
.itemView .card-title a:hover {
  text-decoration: none;
}
.itemView .card-content {
  height: 145px;
  padding: 15px;
}
.itemView .card-content p {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px 0;
}
.itemView .card-action {
  padding: 0;
}
.itemView .card-action .btn {
  font-size: 12px;
  float: right;
  margin: 10px;
}
.searchButton {
  float: right;
  font-size: 12px;
  margin: 20px 0 0 0;
}
